{%extends "principal.html"%}
    {%block contenido%}
        {% for usu in usuarios_parcelas %}
        {%include 'usuario/usuario.html'%}

        {%empty%}
        <h1> no hay resultados para esta busqueda</h1>
{% endfor %}

{#en este caso tengo un resultado duplicado, se trata de un usuario con 2 huertos tipo P, por lo que esa persona sale con sus 2 huertos 2 veces#}



    {%for usuario in usuario_noticias%}
    {%include 'usuario/usuario.html'%}

            {%empty%}
        <h1>no hay coincidencias de usuarios</h1>

    {%endfor%}
{%endblock%}




</body>
</html>