{% extends "principal.html" %}

{% block contenido %}
{% load bootstrap5 %}
    <form action = "{% url 'fruto_buscar' %}" method = "GET"> 
        
        {% csrf_token %}

        <div class="mb-4">
            {% bootstrap_field formulario.textoBusqueda show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.plant show_label=True %}
        </div>
        
        {% buttons %}
            <button type="submit" class="btn btn-primary" >Enviar</button>
        {% endbuttons %}
    </form> 
{% endblock %}