{% block contenido %}
{% load bootstrap5 %}
{% bootstrap_css %}
    <form action = "{% url 'huerto_buscar_avanzado' %}" method = "GET"> 
        
        {% csrf_token %}

        {%block busqueda%}

        <div class="mb-4">
            {% bootstrap_field formulario.area_minima show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.area_maxima show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.ubicacion show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.sustrato show_label=True %}
        </div>
        {%endblock%}
        {% buttons %}
            <button type="submit" class="btn btn-primary" >Enviar</button>
        {% endbuttons %}
    </form> 
{% endblock %}