{%extends "principal.html"%}
{% load bootstrap_icons %}
        <div class="row btn-group">
                <div class="mb-2">
                <button type="button" 
                        class="btn btn-outline-primary"> 
                        <a href="{% url 'huerto_editar' libro.id %}" ><span>{% bs_icon 'pencil' %}</span></a>
                </button>
        </div>
        <div class="mb-2">
                <form action = "{% url 'huerto_eliminar' huerto.id %}" method = "post"> 
                        {% csrf_token %}
                        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                        <span>{% bs_icon 'trash' %}</span>
                        </button> 
                </form>
                </div>
        </div>
        {%block contenido%}
                {%for huerto in huertos_mostrar%}
                        {%include 'huerto/huerto2.html'%}
                {%endfor%}

                {%for seguro in sinincidencia%}
                        {% include 'huerto/huerto.html' %}
                {%empty%}
                        <h1>No hay huerto sin incidencias</h1>
                {%endfor%}
        {%endblock%}