{%extends 'principal.html'%}



{% block contenido %}
<h1 class="display-3">Lista de huertos</h1>

{% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
{% endif %}

{% block busqueda %}
{% endblock %}

<div class="row">
        {% for huerto in huertos_mostrar %}
        <div class="col-sm-4 mb-2">
                {% include 'huerto/huerto3.html' %}
        </div>
        {% empty %}
        <h1>No hay datos</h1>
        {% endfor %}
</div>
{% endblock %}