{%extends "principal.html"%}
        {%block contenido%}
        {#último voto que se realizó en un modelo principal en concreto, y mostrar el comentario, la votación e información del usuario o cliente que lo realizó#}
        <h1>Ejercicio 1</h1>
        Usuario {{voto.usuario.nombre}}<br>
        Huerto: {{voto.huerto.id}}<br>
        Puntuaciópn: {{voto.puntuacion}}<br>
        Fecha: {{voto.fecha_voto}}<br>
        Comentario: {{voto.comentarios}}<br>

        {#todos los modelos principales que tengan votos con una puntuación numérica igual a 3 y que realizó un usuario o cliente en concreto.#}

        <h1>Ejercicio 2</h1>
        {%for voto in totalvotos%}
{%include 'votacion/ejercicio2.html'%}
        {%empty%}
        <p>no hay datos</p>
        {%endfor%}


        {%endblock%}