<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        {% block link_css %}
        {%endblock%}

        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <script src="{% static 'javascript/javascript1.js'%}"></script>
    </head>
    <body>
        {%include "huerto/buscar.html"%}
        {% csrf_token %} 
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load bootstrap_icons %}
        {%include "nav.html"%}
        {%block cabecera%}
            <p>Esto es el bloco de la cabecera</P>
        {%endblock%}

        {%block contenido%}
            <p>Este es el block del contenido </p>
        {%endblock%}

        <img src="{%static 'imagenes/Diagrama ER huerto.JPG'%}" alt="...">
        {%include "pie.html"%}
    </body>